@import "./colors.scss";

.button {
  border: 0;
  outline: 0;
  background-color: unset;
  cursor: pointer;
}

.button--close {
  font-size: 2.2rem;
  color: $hawkes-blue;
  opacity: 0.5;
  &:hover {
    // color: $madison;
    opacity: 0.3;
  }
}

.button--open {
  font-size: 2.8rem;
  color: white;
  opacity: 1;
  &:hover {
    opacity: 0.5;
  }
}

.button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
