@import "./colors.scss";
.stage {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  width: calc(100% - var(--sidebar-width));
  height: 100%;
  background-color: black;
  transition: width linear 0.2s;
  z-index: 0;
}

.stage--full {
  width: 100%;
}

#app[data-layout-id="1"] {
  > .stage {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

#app[data-layout-id="2"] {
  > .stage {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

#app[data-layout-id="3"] {
  > .stage {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    > .viewer {
      &:nth-of-type(1) {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
      }
      &:nth-of-type(2) {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
      }
      &:nth-of-type(3) {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
      }
    }
  }
}

#app[data-layout-id="4"] {
  > .stage {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    > .viewer {
      &:nth-of-type(1) {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
      }
      &:nth-of-type(2) {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
      }
      &:nth-of-type(3) {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
      }
      &:nth-of-type(4) {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
      }
    }
  }
}

.viewer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.3rem;
  border: 0.1rem solid $madison;
  &:not(.viewer--empty):before {
    content: attr(data-index);
    position: absolute;
    font-size: 1.6rem;
    color: $hawkes-blue;
    bottom: 2.5rem;
    right: 3rem;
  }
  &.drag--over {
    border-color: black;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 0.8rem dashed var(--color-branding);
    }
  }
}

.viewer > canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  object-fit: contain;
  transform: translateX(-50%);
}

.viewer__layers {
  background-color: rgba(0, 0, 0, 0.4);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.viewer__layers__item {
  display: block;
  color: $hawkes-blue;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 1rem;
  &:hover {
    color: $wild-watermelon;
    background-color: lighten($madison, 10%);
  }
}
